.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}


.coz-bg{
    background-color: #313338;
}

.coz-profile-dp{
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

.coz-bg-head{
    background-color: #1E1F22;
}

.coz-right-border{
    border-right: 1px solid #fff;
}

.coz-left-border{
    border-left: 1px solid #fff;
}

.coz-user-name{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
}

.coz-date-styles{
    color: #949BA4;
    font-size: 12px;
}

.coz-chat{
    color: #DBDEE1;
    font-size: 16px;
}

.op{
    padding: 150px 130px 130px 130px;
}

.opTop{
    margin-bottom: 74px;
padding: 2px;
}

.op-dp{
    height: 160px;
    width: 160px;
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

.opUserName{
    font-size: 56px;
    line-height: 0px;
    font-weight: 500;
    color: #F2F3F5;
}

.opDate{
    color: #949BA4;
    font-size: 48px;
    margin-left: 10px !important;
}

.opChat{
    font-size: 56px;
    color: #DBDEE1;
    font-weight: 400;
}